node_modules
dist
build
coverage
.nyc_output

.env
.env.*
!.env.test

*.log
npm-debug.log*
pnpm-debug.log*

.git
.github
.idea
.vscode

test
**/*.spec.ts
**/*.test.ts
**/__tests__

docs
*.md
!README.md

.temp
.tmp
src/sop
